<mat-sidenav-container class="shell">
  <mat-sidenav
    class="shell-sidenav"
    fixedInViewport
    [attr.role]="isHandset() ? 'dialog' : 'navigation'"
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="!isHandset()"
  >
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/"
        routerLinkActive="shell-nav-active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeSidenavOnHandset()"
      >
        <mat-icon matListItemIcon>directions_car</mat-icon>
        <span matListItemTitle>Automobiles</span>
      </a>
      <a
        mat-list-item
        routerLink="/add"
        routerLinkActive="shell-nav-active"
        (click)="closeSidenavOnHandset()"
      >
        <mat-icon matListItemIcon>add_circle_outline</mat-icon>
        <span matListItemTitle>Add a Car</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="shell-content">
    <app-toolbar [title]="title" (menuToggle)="toggleSidenav()" />
    <main class="shell-main">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
