<form [formGroup]="form" class="car-filters">
  <mat-form-field appearance="outline" class="car-filters-search">
    <mat-label>Search</mat-label>
    <input matInput formControlName="search" placeholder="Search by make" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fuel type</mat-label>
    <mat-select formControlName="fuelType">
      <mat-option [value]="null">All fuel types</mat-option>
      @for (option of fuelTypeOptions; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Aspiration</mat-label>
    <mat-select formControlName="aspiration">
      <mat-option [value]="null">All</mat-option>
      @for (option of aspirationOptions; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Body style</mat-label>
    <mat-select formControlName="bodyStyle">
      <mat-option [value]="null">All body styles</mat-option>
      @for (option of bodyStyleOptions; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Drive wheels</mat-label>
    <mat-select formControlName="driveWheels">
      <mat-option [value]="null">All</mat-option>
      @for (option of driveWheelsOptions; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Engine location</mat-label>
    <mat-select formControlName="engineLocation">
      <mat-option [value]="null">All</mat-option>
      @for (option of engineLocationOptions; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="car-filters-range" role="group" aria-label="Price range">
    <mat-form-field appearance="outline">
      <mat-label>Min price</mat-label>
      <input matInput type="number" formControlName="priceMin" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Max price</mat-label>
      <input matInput type="number" formControlName="priceMax" />
    </mat-form-field>
  </div>

  <button mat-stroked-button type="button" (click)="resetFilters()">Reset filters</button>
</form>
