<form [formGroup]="form" class="car-filters">
  <mat-form-field appearance="outline" class="car-filters-search">
    <mat-label>Search</mat-label>
    <input matInput formControlName="search" placeholder="Search by name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Origin</mat-label>
    <mat-select formControlName="origin">
      <mat-option [value]="null">All origins</mat-option>
      @for (option of originOptions; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cylinders</mat-label>
    <mat-select formControlName="cylinders">
      <mat-option [value]="null">All</mat-option>
      @for (option of cylinderOptions; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="car-filters-range" role="group" aria-label="MPG range">
    <mat-form-field appearance="outline">
      <mat-label>Min MPG</mat-label>
      <input matInput type="number" formControlName="mpgMin" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Max MPG</mat-label>
      <input matInput type="number" formControlName="mpgMax" />
    </mat-form-field>
  </div>

  <button mat-stroked-button type="button" (click)="resetFilters()">Reset filters</button>
</form>
