<h2 mat-dialog-title>{{ car.name | titlecase }}</h2>

<mat-dialog-content>
  <dl class="car-details-grid">
    <dt>Origin</dt>
    <dd>{{ car.origin | titlecase }}</dd>

    <dt>MPG</dt>
    <dd>{{ car.mpg }}</dd>

    <dt>Cylinders</dt>
    <dd>{{ car.cylinders }}</dd>

    <dt>Displacement</dt>
    <dd>{{ car.displacement }}</dd>

    <dt>Horsepower</dt>
    <dd>{{ car.horsepower ?? 'Unknown' }}</dd>

    <dt>Weight</dt>
    <dd>{{ car.weight | number }} lbs</dd>

    <dt>Acceleration</dt>
    <dd>{{ car.acceleration }}</dd>

    <dt>Model year</dt>
    <dd>{{ car.modelYear }}</dd>
  </dl>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
